*{
    padding: 00 ;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(228, 229, 230);
}
.navbar{
    background-color: transparent !important;
    padding-top: 20px;
}
.nav-item{
    padding: 5px 10px;
}
.navbar-brand{
    color: aliceblue !important;
    font-size: 28px;
    font-weight: 500;
}
.nav-link{
    position: relative;
    overflow: hidden;
    color: aliceblue !important;
    font-size: 16px;
    font-weight: 500;
}
.nav-link:hover{
    color: #f1c70b !important;
}

.signup-btn{
    border-radius: 20px;
    padding: 8px 35px;
}
.nav-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transition: 0.6s;
}
.nav-link:hover::after{
    transform: scalex(0.9);
}

.dropdown-menu{
    background-color: transparent;    


}
.dropdown-item{
    color: aliceblue ;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}

.dropdown-item:hover{
    background-color: transparent;
    color: #f1c70b;
}

.home{
    display: flex;
    justify-content: center;
    height: 500px;
    color: rgb(255, 255, 255);
}
.home h1{
    font-size:70px;
    font-weight: 550;
    font-family: "Merriweather", serif;
    
}
.home p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.home-img{
    background-image: url("../img/about-home-image.jpg");
    height:500px;
    background-position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.data-container {
    display: flex;
    justify-content: center !important  ;
    max-width: 80%;
    margin-top: 60px;
    margin-left: 150px;

}
.contact-details {
    width: 50%;
    font-size: 20px;
}
.contact-form {
    width: 55%;
    font-size: 20px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-send-Message {
    background-color: #FFC107;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.faq-container {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin-top: 70px;
    font-size: 25px;
}
.faq-left {
    width: 40%;
    padding-left: 50px;
}
.faq-right {
    width: 55%;
    padding-left: 70px;
}
.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
}
.faq-question {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-answer {
    display: none;
    padding-top: 10px;
    color: #555;
}
.toggle {
    color: #FFA500;
    font-size: 20px;
}

.review{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 100px 0px !important;
    margin-top: 50px;
}

.review-text p{
    font-size: 16px;
}

.footer {
    background: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
}
.footer nav {
    margin-bottom: 10px;
}
.footer nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
}
.footer nav a:hover {
    color: #000;
}
.footer p {
    color: #6c757d;
    font-size: 14px;
}
.footer-brand{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.footer-link{
    font-size: 18px !important;
    color: #000 !important;
    font-weight: 500;
}

.social{
    font-size: 29px !important;
}

.copy-write{
    justify-content: space-between;
    display: flex;
    padding: 20px 100px;
}

.logo-youtube:hover{
    color: red !important;
    cursor: pointer;
}

.logo-linkedin:hover{
    color: rgb(34, 34, 255);
    cursor: pointer;
}

.logo-facebook:hover{
    color: blue;
    cursor: pointer;

}

.logo-instagram:hover{
    color: purple;
    cursor: pointer;

}
#mybtn{
    display: none;
    position: fixed;
    bottom: 28px;
    right: 40px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: rgb(231, 189, 0);
    color: white;
    cursor: pointer;
    padding: 0px 8px;
}

#mybtn:hover{
    background-color: #bb9900;
}
.map-container {
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.username{
    text-decoration: none;
    color: #bb9900 !important;
    font-size: 18px;
}

.data-container{
    margin-right: 15px !important;
}